
<h4><a href="/contacts">All Contacts</a></h4>
<ul>
  
  <% CONTACT_CATEGORIES.each do |relation| %>
    <li><em><a href="/<%= relation %>"><%= relation %></a></em></li>
  <% end %>
</ul></br>

<a href="/contacts/new">Add Contact</a></br>


<% content_for :header_links do %>
  <a class="signup" href="/users/signup">Sign up</a>
  <% if session[:username]%>
    <form class="signin" action="/users/signout" method="post">
      <p class="user-status">Signed in as <%= session[:username] %></p>
      <button type="submit">Sign out</button>
    </form
  <% else %>
    <a class="signin" href="/users/signin">Sign in</a>
  <% end %>
<% end %>