<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>
  <body>
    <header>
      <h1>Contact List<h1>
      <div class="actions">
      <%= yield_content :header_links %>
      <div>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>