body {
  font-family: sans-serif;
  padding: 1em;
  font-size: 20px;
}

header h1 {
  font-size: 30px;
}

header .actions {
  text-align: right;
}

a.signin {
  font-size: 15px;
  text-align: right;
}

a.signup {
  font-size: 15px;
  text-align: right;
}


.success {
  background: yellow;
  padding: 10px 20px;
}

.error {
  background: yellow;
  padding: 10px 20px;
}

form.inline {
  display: inline;
}

.user-status {
  display: inline;
  font-style: italic;
  font-size: 15px;
}

.small {
  font-style: italic;
  font-size: 15px;
  color: blue;
}
